.env
app/models
app/data/auto_test
app/data/test
app/data/train
app/data/val
.venv
app/__pycache__
__pycache__/
*.pyc
.DS_Store
.vscode/
.idea/
node_modules/
dist/
build/
*.log
coverage
coverage.xml
*.sqlite3
*.db
*.egg-info/
.eggs/
*.iml
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.class
*.jar
*.war
*.zip
*.tar.gz
*.exe
*.dll
*.so
*.dylib
*.pdb